<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <% if(currentUser.classification!=="strangers") {%>
    <a class="nav-link<% if(pageToRender == "home") { %> active<% } %>" href="/<%=currentUser.classification%>">Home</a>
    <% } else {%>
    <a class="nav-link<% if(pageToRender == "home") { %> active<% } %>" href="/">Home</a>
    <% } %>

    <% if(currentUser.classification==="strangers") {%>
    <a class="nav-link<% if(pageToRender == "login") { %> active<% } %>" href="/login">Log In</a>
    <a class="nav-link<% if(pageToRender == "register") { %> active<% } %>" href="/register">Sign Up</a>
    <% } %>
    
    <% if(currentUser.classification!=="strangers") {%>
    <a class="nav-link<% if(pageToRender == "group" || pageToRender == "new_group" || pageToRender == "join_group" || pageToRender == "show_group") { %> active<% } %>" href="/<%=currentUser.classification%>/group">My Groups</a>
    <% } %>

    <% if(currentUser.classification==="teachers") {%>
    <a class="nav-link<% if(pageToRender == "exam" || pageToRender == "new_exam" || pageToRender == "show_exam") { %> active<% } %>" href="/teachers/exam">My Exams</a>
    <a class="nav-link<% if(pageToRender == "question") { %> active<% } %>" href="/teachers/question">My Questions</a>
    <% } %>
</div>