<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link<% if(pageToRender == "home") { %> active<% } %>" href="/<%=classification%>/home">Home</a>
    <a class="nav-link<% if(pageToRender == "group") { %> active<% } %>" href="/<%=classification%>/group">My Groups</a>

    <% if(classification==="teachers") {%>
    <a class="nav-link<% if(pageToRender == "exam") { %> active<% } %>" href="/teachers/exam">My Exams</a>
    <a class="nav-link<% if(pageToRender == "question") { %> active<% } %>" href="/teachers/question">My Questions</a>
    <% } %>
</div>