<div class="container">
    <div class="row align-items-center mx-auto">
        <h4>Question Navigation</h4>
    </div>
    <div class="row align-items-center">
        <div class="col-3 col-sm-2 my-4"><a href="#">1</a></div>
        <div class="col-3 col-sm-2 my-4"><a href="#">2</a></div>
        <div class="col-3 col-sm-2 my-4"><a href="#">3</a></div>
        <div class="col-3 col-sm-2 my-4"><a href="#">4</a></div>
        <div class="col-3 col-sm-2 my-4"><a href="#">5</a></div>
        <div class="col-3 col-sm-2 my-4"><a href="#">6</a></div>
        <div class="col-3 col-sm-2 my-4"><a href="#">7</a></div>
        <div class="col-3 col-sm-2 my-4"><a href="#">8</a></div>
    </div>
</div>