<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
    <div class="container">
        <div>
            <% include ./partials/nav.ejs %>
        </div>
        <div class="row">
            <div class="col-lg-3">
                CTRL PANEL
            </div>
            <div class="col-sm-8 col-lg-7">
                CONTENT
            </div>
        </div>
    </div>
</body>

</html>