<div class="jumbotron">
        <h1 class="display-4">Join A Group</h1>
        <hr class="my-4">
        <form action="/students/group/join" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                        <label for="join_key">Enter Join Key</label>
                        <input type="join_key" class="form-control" id="join_key" name="join_key" placeholder="Join Key">
                    </div>
            </div>
            <hr class="my-4">
            <button type="submit" class="btn btn-primary">Join Group</button>
        </form>
</div>