<% examQuestions.forEach((examQuestion, index) => { %>
<div id="<%=examQuestion._id%>" class="jumbotron q-card">
        <h1 class="display-5">Question #<%= index+1 %></h1>
        <p class="lead"><%= examQuestion.content %></p>
        <hr class="my-4">
            <% examQuestion.options = shuffle(examQuestion.options) %>
            <% examQuestion.options.forEach((option, index) => { %>
                <p><input type="radio">
                    &nbsp;&nbsp;<%= option %></p>
            <% }) %>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Previous Question</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">Next Question</a>
    </div>
<% }) %>