<div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <hr class="my-4">
        <div class="bg-light rounded p-3">
            <p class="lead">The SPHINX app is a tool that can be utilized by teachers in order to ease the process of creating and giving out exams to students.</p>
            <p class="lead">
                Some core functionalities of this app includes the ability to create questions, exams and groups; ability to automatically check and grade an exam submission when a student submitted their answers; and the ability to share questions and exams with other teachers.
            </p>
        </div>
        <hr class="my-4">
        <p>To find out more, just click the button below!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>