<div class="jumbotron">
        <h1 class="display-4">My Exams</h1>
        <hr class="my-4">
        <div class="bg-light rounded p-3">
        <% if(ownedExams.length === 0) { %>
        <p>You currently don't have any created exam.</p>
        <% } else { %>
                <% ownedExams.forEach((ownedExam) => { %>
                        <a href="exam/<%=ownedExam._id%>"><li><%=ownedExam.title%></li></a>
                <% }) %>
        <% } %>
        </div>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="exam/new" role="button">Create New Exam</a>
</div> 