<div class="jumbotron">
        <h1 class="display-4">My Groups</h1>
        <hr class="my-4">
        <div class="bg-light rounded p-3">
        <% if(ownedGroups.length === 0) { %>
        <p>You currently don't belong to any group.</p>
        <% } else { %>
                <% ownedGroups.forEach((ownedGroup) => { %>
                        <a href="group/<%=ownedGroup._id%>"><li><%=ownedGroup.name%></li></a>
                <% }) %>
        <% } %>
        </div>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="group/new" role="button">Create New Group</a>
</div> 