<div class="jumbotron">
        <h1 class="display-4">Question Bank</h1>
        <hr class="my-4">
        <% if(ownedQuestions.length === 0) { %>
        <p>You currently don't have any created questions.</p>
        <% } else { %>
                <% ownedQuestions.forEach((ownedQuestion) => { %>
                        <a href="question/<%=ownedQuestion._id%>"><li><%=ownedQuestion.content%></li></a>
                <% }) %>
        <% } %>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="question/new" role="button">Create New Question</a>
</div> 